* {
    font-size: 24px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s;

}

:root {
    --main-color: #d3ad7f;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.heading {
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: #000;
    text-transform: uppercase;
    font-size: 4rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 2.7rem;
    color: #000;
    background: var(--main-color);
    cursor: pointer;
    margin-left: 110px;
}

.btn:hover {
    letter-spacing: .2rem;
}

/*EDIT DE HEADER COMIENZA*/
.header {
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.nav-first {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 50px;
    color: #fff;
    background: #000;
}

.nav-first .time {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
}

.nav-first i {
    color: #fff;
}

.nav-first .time h3 {
    margin: 0 10px 0 10px;
}

.nav-first .nav-mail {
    width: 100px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-right: 25px;
}

.nav-first .nav-mail h4 {
    margin: 0 12px 0 12px;
}

.nav-first .nav-mail:hover {
    letter-spacing: .18rem;
}

.nav-first .nav-social {
    display: flex;
    width: 200px;
    align-items: center;
    justify-self: end;
    justify-content: space-around;
    margin-right: 20px;
}

.nav-first .nav-social .fa-facebook-f:hover {
    color: #4267b2;
}

.nav-first .nav-social .fa-twitter:hover {
    color: #1dA1f2;
}

.nav-first .nav-social .fa-instagram:hover {
    color: #cd486b;
}

.nav-first .nav-social .fa-linkedin-in:hover {
    color: #0077b5;
}

.nav-second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 80px;
    position: relative;
}


.nav-second .nav-logo {
    display: flex;
    width: 200px;
    height: auto;
    align-items: center;
    justify-self: start;
    margin-left: 20px;
}


.nav-second .nav-logo a {
    color: #000;
    text-decoration: none;
}

.nav-second .nav-ubicacion {
    display: flex;
    width: 200px;
    height: auto;
    justify-self: center;
    align-items: center;
}

.nav-second i {
    font-size: 5rem;
    color: #111;
}

.nav-second .nav-ubicacion p {
    margin: 0 0 0 10px;
}

.nav-second .nav-ubicacion .number {
    margin-top: 6px;
}



.nav-second .nav-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-second .nav-contact .number {
    margin-top: 8px;
}

.nav-second .nav-contact h3 {
    margin: 0 4px 0 10px;
}


.nav-third {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 50px;
    border-top: 3px solid #99999987;
}

.nav-third .nav-links {
    display: flex;
    width: 50%;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    height: auto;
}

.nav-third .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
}

.nav-third .nav-links a:hover {
    text-decoration: none;
    color: #4c4a4a7b;
    font-size: 28px;
}

.nav-third .nav-links a::after {
    color: #000;
}

.nav-third .nav-links .inicio {
    align-self: stretch;
    padding-top: 10px;
    color: #1dA1f2;
    font-weight: bold;
    letter-spacing: .5rem;
}


.menu-vertical>li>a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: #fff;
}

.nav-links li {
    list-style: none;
    color: #000;
}

.nav-links li:hover .menu-vertical {
    display: block;

}

.menu-vertical li a:hover {
    background: #99999987;
}

.menu-vertical li a {
    display: block;
}

.nav-third .nav-links .menu-vertical .heading {
    color: #000;
    padding: 10px;
    font-size: 26px;
}

.nav-third .nav-links .menu-vertical li a {
    color: #000;
}


.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

/*EDIT DE HEADER TERMINA*/

/*EDIT CONTENT EMPIEZA*/

.container-title {
    height: 100px;
    background: #222;
    width: 100vw;
}

.content {
    display: flex;
    padding: 20px 0;
    margin-left: 200px;
}

.content h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}

/*EDIT CONTENT TERMINA*/


/*EDIT DE FORM COMIENZA*/

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 7%;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
    width: 1000px;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #000;
    margin-left: 80px;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: center;
}

.contact .row form .inputBox span {
    color: #000;
    font-size: 4rem;
    padding-left: 2rem;
    margin-right: 1rem;
}

.contact .row form .inputBox input {
    width: 50%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #000;
    text-transform: none;
    background: none;
}


.contact .row form .inputBox textarea {
    height: 200px;
    width: 50%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #000;
    text-transform: none;
    background: none;
}

.contact .container-map {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.contact .container-map .map {
    padding: 30px;
    width: 100%;
    height: 80%;
    background: #000;
}

.contact .container-map .map .title {
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 70px;
    color: #fff;
}

.contact .container-map .map .datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem;
    padding: 10px;
    height: 200px;
    width: 80%;
    color: #FFF;
}

.contact .container-map .map .datos .datos-box span {
    color: #ccc;
    font-size: 4rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/*en espera jaja*/



/*EDIT DE FORM TERMINA*/


/*EDIT DE FOOTER COMIENZA*/
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    background: #000;
    height: 50px;
    padding: 2rem 5%;

}

.footer .box-derechos {
    display: flex;
    align-items: center;
    justify-self: start;
    justify-content: center;
    width: 100%;
}

.footer .box-derechos .derecho {
    margin-left: 30px;
    color: #fff;
}

.footer .box-links {
    display: flex;
    width: 100%;
    justify-self: end;
    align-items: center;
    justify-content: space-between;
}

.footer .box-links .links {
    margin-right: 30px;
    color: #fff;
}

.footer .box-links a {
    text-decoration: none;
}

/*EDIT DE FOOTER TERMINA*/



/*INICIO MEDIA QUERYS */
@media screen and (min-width:360px) and (max-width:550px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
        width: 100%;
    }

    section {
        padding: 2rem;
    }


    .home .content .btn {
        width: 50%;
    }

    .contact {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact .container-map .map .datos {
        display: inline-block;
        width: 100%;
    }

    .contact .container-map .datos{
        width: 100%;
    
    }

    .contact .container-map .map .datos .datos-box {
        padding: 8px 0 8px 0;
    }


    .contact .row{
        width: 100%;
    }

    .footer {
        height: 100%;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .footer .box-derechos {
        line-height: 2;
        grid-row: 2;
        padding-top: 20px;
    }

    .footer .box-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        width: 100%;
        padding: 20px 0 20px 0;
        height: 100%;
        margin-bottom: 50px;
    }
}

/*FIN MEDIA QUERYS */